.progress-color {
    width: 100%;
    position: absolute;
    top: 0;
    backdrop-filter: grayscale(200%) invert(45%);
    background: linear-gradient(180deg, #000000 0%, #ffffff00 100%);;
    height: 90%;
    transition: .4s;
}