@import "@styles/responsive.scss";


.tasks-container {
    justify-content: center;
    flex-direction: column;
    padding: 1.2em;
    z-index: 1;
    position: relative;
    height: 95vh;

    @include desktop {
        padding: 1.2em 20em;
    }
}