html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  width: 100%;
  min-height: 100vh;
  background: #242424;
  color: white;
}

h1 {
  color: white;
}

.default__input {
  border-radius: 4px;
  width: 100%;
  height: 2.5em;
  margin: 0;
  background: #181818;
  border: 0;
  color: white;
  outline-width: 0;
  padding: 0.5em;
}

.default__input:hover {
  background-color: black;
  width: 105%;
}

button {
  background: #00a2ff;
  border-radius: 8px;
  border: 0;
  outline: none;
  color: white;
  padding: 0.5em 1em;
  margin: 0.2em;
  cursor: pointer;
}
