.create-task-button {
  position: fixed;
  right: 2%;
  bottom: 2%;

  z-index: 2;

  transition: 0.4s;
  cursor: pointer;
  margin: 0;
  box-shadow: -2px -2px 4px #0000007e;
  border: 0;
  border-radius: 40%;
  background-color: #00b7ff;
  padding: 1%;
  aspect-ratio: 1/1;
  height: 4em;
  color: white;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.create-task-button:focus {
  outline: none;
  border: 0;
}

.create-task-button__icon {
  fill: white;
  stroke: white;
  transition: 0.4s;
  width: 100%;
  height: 100%;
}

.create-task-button:hover .create-task-button__icon {
  transform: rotate(90deg);
}

.create-task-button-close {
  transform: rotate(45deg);
  background-color: #ff0000;
}
